html {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #292929;
    color: white;
}

#map {
    height: 100vh;
}

.gm-style-iw-d {
    color: #292929;
}